body {margin: 0;background: #DEDEDE;font-family: Arial;}
td, th {border: 0.1px solid;padding: 10px;}
table {border-collapse: collapse;margin: 0 auto;margin-bottom: 75px;}
table tr th {background: #c0c0c0;font-weight: normal;}